.carousels {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    
  }
  
  .carousels-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
  }
  
  .carousels-slide {
    min-width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  
  .carousels-slide img {
    width: 100%;
    height: 100%; /* Faz as imagens preencherem o espaço disponível */
    object-fit: cover; /* Garante que a imagem cubra toda a área sem distorção */
    border-radius: 10px;
  }
  
  .carousels-caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .carousels-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }
  
  .carousels-control.left {
    left: 10px;
  }
  
  .carousels-control.right {
    right: 10px;
  }
  
  .autoplay-toggle {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .autoplay-toggle input {
    margin-right: 5px;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .carousels {
      max-width: 100%;
      height: 400px;
      justify-content: center;
    }
  
    .carousels-caption {
      font-size: 16px;
      bottom: 10px;
      left: 10px;
    }
  
    .carousels-control {
      font-size: 20px;
    }
  }
  